.page(data-role='page', data-theme='c')
	header#header(data-role='header')
		h1=	title
	.content(data-role='content')#main
		a(href='/favs/journeys', data-role='button', data-corners='false')	Journeys
		a(href='/favs/buses', data-role='button', data-corners='false')	Bus Stops