#editBus.page(data-role='page', data-theme='c')
	script(type='text/javascript', src='/scripts/favs.js')
	header#header(data-role='header')
		include ../header
	.content(data-role='content')#main
		a#clear(data-role='button', data-icon='delete', data-inline='true', style='float: right;')		Delete All
		a#delete(data-role='button', data-icon='gear', data-inline='true', style='float: right;', data-theme='b')	Delete
		div.ui-li.ui-li-divider.ui-btn.ui-bar-a.ui-corner-top.ui-btn-up-undefined(style='clear: both;')	Favourites
		div#editContent.ui-corner-bottom.ui-bar-c.ui-shadow(style='padding: 5px;')
			div(data-role='fieldcontain', style='padding: 0; margin: 0;)
				fieldset(data-role='controlgroup')
	include ../footer