script(type='text/javascript', src='/scripts/geolocation.js')
.page(data-role='page')
	#header(data-role='header')
		h1	Jouney Planner
	.content(data-role='content')#one
		h2	One
		p	This is a quick test 
			a(href='#popup')	popup
		p
			a#geo	geolocation
			
