!!! 5
html
	head
		meta(charset='utf-8')
		meta(name='description', content='London public transport planner')
		meta(name='keywords', content='jQuery, TFL, Public transport, London, jQuery Mobile')
		meta(name='title', content=	title)
		meta(name='viewport', content='initial-scale=1, maximum-scale=1')
		title=	title
		link(rel='apple-touch-icon', href='/images/MobileLondon.png')
		link(rel='stylesheet', href='/stylesheets/jquery.mobile.structure-1.0.1.min.css')
		link(rel='stylesheet', href='/stylesheets/themes/mobileLondon.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/jquery.mobile.datebox-1.0.1.min.css')
		script(type='text/javascript', src='/scripts/jquery-1.6.4.min.js')
		script(type='text/javascript', src='/scripts/jquery.mobile-1.0.1.min.js')
		script(type='text/javascript', src='/scripts/jquery.mobile.datebox-1.0.1.min.js')
		
	body!=	body