extends layout

block append scripts
	script(type='text/javascript', src='/scripts/findme.js')
	script(type='text/javascript', src='/scripts/busForm.js')
	script(type='text/javascript', src='/scripts/register.js')